<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card-group">
      <div class="card p-4">
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="submit()">

            <h1>Reset password</h1>
            <p>Please fill in your email</p>

            <div style="padding-top: 20px;" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons prefix">mail</i>
                </span>
              </div>
              <input type="email"
                     id="email"
                     name="email"
                     [(ngModel)]="email"
                     class="form-control sty1"
                     placeholder="Email"
                     required>
            </div>
            <button type="submit"
                    [disabled]="f.invalid"
                    class="btn btn-warning">
                   Reset password <i class="material-icons prefix">send</i>
            </button>
          </form>
        </div>
       </div>
    </div>
  </div>
</div>
